<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Silicon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a asp-page="/Index">Home</a>
        <a asp-page="/Contact">Contact</a>
    </header>
    <div class="wrapper">
        <partial name="~/Pages/Sections/_HeaderPartial.cshtml"/>
        <main>
            @RenderBody()
        </main>
        <partial name="~/Pages/Sections/_FooterPartial.cshtml"/>
    </div>
</body>
</html>